<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{%block title%}{%endblock%}</title>
		<meta name="author" content="Miguel Orbañanos">
		<meta http-equiv="refresh" content="3;URL={{ path('pc_homepage') }}">
		<link rel="shortcut icon" href="{{ asset('/img/favicon.ico') }}" />
		
		<!--Importarmos nuestra hoja de estilos-->
		<link rel="stylesheet" type="text/css" media="(max-width: 3500px)" href="{{ asset('css/estilosEscritorio.css') }}"/>
		
	</head>
	<body class="cuerpoFalloLogin">
		<div class="cuadroFalloLogin">
			<p>{%block textoFallo%}{%endblock%}</p>
			<p></p>
		</div>
	</body>
</html>
