{% extends 'MobileBundle::plantillaRegistros.html.twig' %}


{%block tituloPagina%}
	Nuevo Registro de Usuarios
{%endblock%}

{%block formulario%}
	<form action="#" method="post" id="formNuevoRegistroUsuarios" {{ form_enctype(RegistrosForm) }}>
		{{form_widget(RegistrosForm)}}
		<input type="submit" id="aceptarNuevoRegistro" name="nuevoRegistro" value="Aceptar Nuevo Registro" data-icon="check" data-iconpos="right" data-inline="true"/>
	</form>
{%endblock%}
